* {
    margin: auto;
}

nav {
    background-color: #fb4c17;

}

#banner {
    width: 1920px;
    background-image: url("photo/candle.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    box-shadow: inset 0 0 0 250px rgba(136, 226, 192, 0.7);

}

#description {
    width: 100%;
    background-color: #f78723;
}

h1 {

}

h1 span {
    color: #dfdce3;
    font: bold 70px Helvetica, Sans-Serif;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    position: absolute;
    top: 150px;

}
/*Section: information about the team*/
#information-about-the-team {
    width: 100%;
    min-height: 200px;
    margin-top: 30px;
    padding-bottom: 100px;
    background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);
    height: 1000px;
}
#information-about-the-team h3 {
    padding-top: 1px;
    margin-bottom: px;
    font-size: 31px;
    color: #1C4089;
    text-align: center;
    text-transform: uppercase;
    font-family: Origin, serif;
}
#information-about-the-team p {
    padding-top: 1px;
    padding-left: 20px;
    margin-right: 35px;
    text-align: justify;
    color: #0e2044;
    font-family: Times, serif;
}
/*photo*/
.photo {
    margin: 1px, 0;
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform: rotate(-2deg) scale(0.8);
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
}
.photo img {
    flex-basis: 100%;
    width: 100px;
}
.photo figcaption {
    margin-top: 15px;
    font-family: Vijaya, serif;
    font-size: 20px;
}
.photo:hover {
    opacity: 1;
    transform: scale(1.0);
}
/*about Kasia and Justyna*/
.first-line {
    margin-bottom: 5px;
    margin-top: 5px;
}
.Kasia {
    position: relative;
    float: left;
    width: 40%;
    text-align: justify;
    padding: 50px 10px 50px 10px;
    margin-left: 30px;
}
.Justyna {
    position: relative;
    float: right;
    width: 40%;
    text-align: justify;
    margin-right: 30px;
    padding: 50px 10px 50px 10px;
}
.clean{
    clear: both;
}
/*about Ewa and Pawel*/
.second-line {
    margin-top: 1px;
    margin-bottom: 1px;
}
.Ewa {
    position: relative;
    float: left;
    width: 40%;
    text-align: justify;
    margin-left: 30px;
    padding: 5px 10px 5px 10px;
}
.Pawel {
    position: relative;
    float: right;
    width: 40%;
    text-align: justify;
    margin-right: 30px;
    padding: 5px 10px 5px 10px;
}
