body {
    background-color: #f9ebe3;
    font-family: 'Lato', sans-serif;

}

.table-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
    margin: 0 auto;
}

.container {
    width: 21%;
    margin: 2%;
    height: 120px;
    position: relative;
    perspective: 800px;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #9B3F3F;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    cursor:pointer;
    border-radius: 5px;

}
.card.flipped {
    transform: rotateY(180deg);
}
.card div {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.card .front {
    background: url('../photo/logogz.svg') no-repeat;
    border-radius: 5px;

    background-size: 100%;
    background-position: center;
}
.card .back {
    border-radius: 5px;

    background: url('#') no-repeat;
    background-size: 100px 100px;
    background-position: center;
    transform: rotateY(180deg);
}

.timer-text {
    font-size: 30px;
    margin: 0 5%;
}

.time-score-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: 30px;
}

.timer {
    display: flex;
}

.score {
    display: flex;
}
.score-text {
    font-size: 30px;
    margin: 0 13%;
}

.popup-container h2 {
    font-size: 2em;
}

.popup-container h1 {
    font-size: 3em;
}



.popup-open {
    display: block;
}
