*{
    ;
}

.popup_base{
    top: 0;
    display: none;
    background-color: rgba(200, 200, 200, 0.75); /*ustawić przezroczystość*/
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    overflow: auto;
}

.popup_body{
    background-color: #f9ebe3;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.popup_close{
    position: absolute;
    top:0;
    right: 12px;
    font-size: 40px;
    cursor: pointer;
}

.btn_game_start{
    margin: 0 auto;
    background-color: #f9ebe3;
    text-decoration: none;
}
