@import "normalize.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f78723;
    color: #ffffff;
    /*font-family: Origin, sans-serif;*/
    font-family: 'Lato', sans-serif;
}
button {font-family: 'Lato', sans-serif;}
.scroll-top {
    transition: visibility 0.8s, opacity 0.8s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color:#000000;
    opacity: 0.8;
    cursor: pointer;
    animation: scroll 1s infinite alternate;
}
.scroll-top.hidden {
    visibility: hidden;
    opacity: 0;
}
@keyframes scroll {
    0% {bottom: 30px; }

    100% {bottom: 40px;}
}

.menu-nav {
    background-color: rgba(48, 23, 27, .4);
    z-index: 1;
    display: flex;
    width:100%;
}

.menu-nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin:0 0 0 auto;
}
.menu-nav__list-item {
    margin: 0 15px;
}

.menu-nav__list-item a {
    position: relative;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-weight: 700;
}
.menu-nav__list-item a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    transition: width .25s ease-in-out;
}

.menu-nav__list-item a:hover:after {
    width: 100%;
}

.menu-nav figure {
    margin: 0;

}

.logo {
    width: 150px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner {
    position: relative;
    background: url("../photo/cake.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    /* box-shadow: inset 0 0 0 250px rgba(136, 226, 192, 0.6); */

}

.description {
    /*background-color: #f78723;*/
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    font-family: bold Origin, sans-serif;
    padding: 25px 0;
    position: absolute;
    top: 75%;
    right: 0;
    transform: translateY(-50%);

}

.description__text {
    margin-bottom: 20px;
}

p {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;

}

.description__link {
    display: block;
    padding: 1rem .75rem;
    background-color: #FC4A1A;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-transform: uppercase;
    cursor: default;

}

.description__link:hover {
    opacity: 0.85;
}

h1 {
    color: white;
    font: 5em Lobster, Sans-Serif;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 0;

}

figure {
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: none;
}

.text--center {
    text-align: center;
}

#funcionality {
    padding: 50px 0;
    background-color: #1C4089;
}

.functionality-cont {
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
}

.funcionality__box {
    flex: 0 100%;
}

.fuctionality__text {
    font-weight: 500;
}

.functionality__image {
    height: 128px;
    width: 128px;
}

.heading-level-2 {
    color: #ffffff;
    font-size: 36px;
}

/*Section: information about the team*/
#information-about-the-team {
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);
    /*background: linear-gradient(to bottom, #f78723 0%, #f89f4e 100%);*/

}

.heading-level-3 {
    color: #1C4089;
    font-size: 36px;
    margin-bottom: 15px;
}

.team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#information-about-the-team h3 {
    padding-top: 1px;
    font-size: 25px;
    color: #1C4089;
    text-align: center;
    text-transform: uppercase;
}

#information-about-the-team p {

    text-align: justify;
    color: #081730;
    font-size: 17px;
}

.person {
    flex: 100%;
    text-align: center;

}

/*photo*/
.photo {
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: inline-block;
    transform: rotate(-2deg) scale(0.8);
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
    text-align: center;
}

.photo img {
    flex-basis: 100%;
    width: 100%;
}

.photo figcaption {
    margin-top: 15px;
    font-size: 20px;
    color: black;
}

.photo:hover {
    opacity: 1;
    transform: scale(1.0);
}

.clear {
    clear: both;
}

.anchor {
    display: block;
    visibility: hidden;
    /*height: 45px;*/
    /*margin-top: -45px;*/

}

footer {
    color: white;
    background-color: #f78723;
    font-size: 20px;
    padding: 25px;
    text-align: right;
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 7em;
    }
}

@media screen and (max-width: 800px) /*Mobile*/ {
    h1 {
        font-size: 4em;
    }

    .description {
        font-size: 18px;
    }
}

@media screen and (min-width: 431px) {
    .funcionality__box {
        flex: 0 50%;
    }
}

@media screen and (min-width: 877px) {
    .funcionality__box {
        flex: 1;
    }

    .person {
        flex: 0 45%;
    }
}