@import "normalize.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f78723;
    color: #ffffff;
    font-family: Origin, sans-serif;
}

nav {
    background-color: rgba(255, 114, 67, 0);
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: 0 0 0 auto;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 29px 18px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    width: 80%;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
}

li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

nav figure {
    margin:0;

}

.logo {
    width: 150px;
    text-align: left;
    margin-right: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner {
    position: relative;
    background: url("../photo/cake.jpg") no-repeat;
    background-size: cover;
    height: 100%;
    /* box-shadow: inset 0 0 0 250px rgba(136, 226, 192, 0.6); */

}

.description {
    max-width: 100%;
    background-color: #f78723;
    font-size: 1.5em;
    font-family: bold Origin, sans-serif;
    padding: 40px 0;

}

.description__text {
    margin-bottom: 20px;
}

p {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;

}

.description__link {
    display: block;
    padding: 1rem .75rem;
    background-color: #FC4A1A;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-transform: uppercase;
    cursor: default;

}

.description__link:hover {
    opacity: 0.85;
}

h1 {
    color: white;
    font: 5em Lobster, Sans-Serif;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0;

}

figure {
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: none;
}

.text--center {
    text-align: center;
}

#funcionality {
    padding: 50px 0;
    background-color: #1C4089;
}

.functionality-cont {
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
}

.funcionality__box {
    flex: 0 100%;
}

.fuctionality__text {
    font-weight: 500;
}

.functionality__image {
    height: 128px;
    width: 128px;
}

.heading-level-2 {
    color: #ffffff;
    font-size: 36px;
}

/*Section: information about the team*/
#information-about-the-team {
    width: 100%;
    padding: 15px 0;
    background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);
    /*background: linear-gradient(to bottom, #f78723 0%, #f89f4e 100%);*/

}

.heading-level-3 {
    color: #1C4089;
    font-size: 36px;
    margin-bottom: 15px;
}

.team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#information-about-the-team h3 {
    padding-top: 1px;
    font-size: 25px;
    color: #1C4089;
    text-align: center;
    /*text-transform: uppercase;*/
}

/*#information-about-the-team p {*/

    /*text-align: justify;*/
    /*color: #081730;*/
    /*font-size: 17px;*/
/*}*/

.person {
    flex: 100%;
    text-align: center;

}

/*photo*/
.photo {
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: inline-block;
    /*transform: rotate(-3deg) scale(0.8);*/
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
    text-align: center;
}
/*.photo-rotate {*/
    /*transform: rotate(5deg) scale(0.8);*/
/*}*/
.photo img {
    flex-basis: 100%;
    width: 100%;
}

.photo figcaption {
    margin-top: 15px;
    font-size: 20px;
    color: black;
}

.photo:hover {
    opacity: 1;
    transform: scale(1.0);
}

.clear {
    clear: both;
}

.anchor {
    display: block;
    visibility: hidden;
    /*height: 45px;*/
    /*margin-top: -45px;*/

}

footer {
    color: white;
    background-color: #f78723;
    font-size: 20px;
    padding: 25px;
    text-align: right;
}

@media screen and (max-width: 800px) /*Mobile*/ {
    h1 {
        font-size: 4em;
    }

    .description {
        font-size: 1.5em
    }
}

@media screen and (min-width: 431px) {
    .funcionality__box {
        flex: 0 50%;
    }
}

@media screen and (min-width: 877px) {
    .funcionality__box {

        flex: 1;
    }

    .person {
        flex: 0;
    }
}