@import "normalize.css";

html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f78723;
    color: #ffffff;
    /*font-family: Origin, sans-serif;*/
    font-family: 'Lato', sans-serif;
}

button {
    font-family: 'Lato', sans-serif;
}

.scroll-top {
    transition: visibility 0.8s, opacity 0.8s;
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: #000000;
    opacity: 0.8;
    cursor: pointer;
    animation: scroll 1s infinite alternate;
}

.scroll-top.hidden {
    visibility: hidden;
    opacity: 0;
}

@keyframes scroll {
    0% {
        bottom: 30px;
    }

    100% {
        bottom: 40px;
    }
}

.menu-nav {
    background-color: rgba(48, 23, 27, .4);
    z-index: 1;
    display: flex;
    width: 100%;
}

.menu-nav__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0 0 0 auto;
}

.menu-nav__list-item {
    margin: 0 15px;
}

.menu-nav__list-item a {
    position: relative;
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.25em;
    letter-spacing: 2px;
    font-weight: 700;
}

.menu-nav__list-item a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffffff;
    transition: width .25s ease-in-out;
}

.menu-nav__list-item a:hover:after {
    width: 100%;
}

.menu-nav figure {
    margin: 0;

}

.logo {
    width: 150px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.banner {
    position: relative;
    background: url("../photo/cake.jpg") no-repeat;
    background-size: cover;
    height: 100%;
}

.description {
    margin: 0;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.3em;
    font-family: bold Origin, sans-serif;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top:30%;
}

.description__text {
    margin-bottom: 20px;
}

p {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;

}

.description__link {
    display: block;
    padding: 1rem .75rem;
    background-color: #CEA76C;
    color: #ffffff;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-transform: uppercase;
    cursor: default;

}

.description__link:hover {
    opacity: 0.85;
}

h1 {
    color: white;
    font: 4em Lobster, Sans-Serif;
    letter-spacing: 10px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

figure {
    text-align: center;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border: none;
}

.text--center {
    text-align: center;
}

#funcionality {
    padding: 50px 0;
    background-color: #9B3F3F;
}

.functionality-cont {
    margin-top: 50px;
    display: flex;
    flex-flow: wrap;
}

.funcionality__box {
    flex: 0 100%;
}

.fuctionality__text {
    font-weight: 500;
}

.functionality__image {
    height: 128px;
    width: 128px;
}git

.heading-level-2 {
    color: #ffffff;
    font-size: 36px;
}

/*Section: information about the team*/
#information-about-the-team {
    width: 100%;
    background: #CFB994;
    /*!*background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);*!*/
    /*background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);*/
    padding: 30px 0px;
    /*background: linear-gradient(to bottom, #f78723 0%, #f89f4e 100%);*/
}

.heading-level-3 {
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}

.team__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#information-about-the-team h3 {
    padding-top: 1px;
    font-size: 21px;
    color: #000565;
    /*color: #1C4089;*/
    text-align: center;
    margin: 0px 0px 6px;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 700;
    font-family: Origin, sans-serif;
    /*text-transform: uppercase;*/
}
.contact-person{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.person {
    flex: 0 100%;
    text-align: center;
}
/*photo*/
.photo {
    width: 200px;
    background: rgba(255, 255, 255, 0.6);
    padding: 7px;
    opacity: 1;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    transform: scale(1.0);
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
    text-align: center;
}
.photo img {
    flex-basis: 100%;
    width: 100%;
    text-align: center;
}
.contact-img {
    max-width: 40px;
    top: 8px;
    flex: 1;
}
.clear {
    clear: both;
}

.anchor {
    display: block;
    visibility: hidden;
    /*height: 45px;*/
    /*margin-top: -45px;*/

}

footer {
    color: white;
    background-color: #66614F;
    font-size: 20px;
    padding: 25px;
    text-align: right;
}

@media screen and (max-width: 800px) /*Mobile*/ {
    h1 {
        font-size: 4em;
    }

    .description {
        font-size: 18px;
    }
    .person {
        flex: 0 50%;
    }
}

@media screen and (min-width: 431px) {
    .funcionality__box {
        flex: 0 50%;
    }
    .person {
        flex: 0 50%;
    }
}

@media screen and (min-width: 877px) {
    .funcionality__box {
        flex: 1;
    }

    .person {
        flex: 1;
    }
}

@media screen and (max-width: 1200px) {
    .description{
        width: 100%;
        top: 30%;
    }
}

@media  screen and (min-width: 1201px) {
    .description{
        width: 50%;
    }
}