@import "normalize.css";
* {
    margin: auto;
}
body {
    background-color: rgb(43, 63, 61);
    color:#ffffff;
    font-family: Raleway, sans-serif;
}

nav {
    background-color: #fb4c17;

}
.container {
    max-width: 1200px;
}
#banner {
    max-width: 100%;
    background: url("../photo/candle.jpg") no-repeat;
    background-size: auto;
    height: 500px;
    box-shadow: inset 0 0 0 250px rgba(136, 226, 192, 0.6);

}

#description {
    width: 100%;
    background-color: #f78723;
    font-family:bold Raleway, sans-serif;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;

}

p {
    padding: 10px;
    color: #dfdce3;
    text-align: center;

}

h1 {
    color: #dfdce3;
    font: 100px Lobster, Sans-Serif;
    letter-spacing: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: relative;
    top: 150px;
    width: fit-content;
}
.text--center {text-align: center;}

#funcionality {
    padding: 50px 0;
    background-color: #1C4089;
}
    .functionality-cont {
        margin-top: 50px;
        display: flex;
    }
     .funcionality__box {
         width: 25%;
         padding: 0 10px;
     }
     .fuctionality__text {
         font-weight: 500;
     }
     .functionality__image {
         height: 128px;
         width: 128px;
     }
.heading-level-2 {
    color: #ffffff;
    font-size: 36px;
}
/*Section: information about the team*/
#information-about-the-team {
    width: 100%;
    padding: 50px 0;
    background: linear-gradient(to bottom, #dfdce3 0%, #bac5db 100%);
    display: flex;
    flex-wrap: wrap;

}
#information-about-the-team h3 {
    padding-top: 1px;
    font-size: 31px;
    color: #1C4089;
    text-align: center;
    text-transform: uppercase;
    font-family: Origin, serif;
}
#information-about-the-team p {
    padding-top: 1px;
    padding-left: 20px;
    margin-right: 35px;
    text-align: justify;
    color: #0e2044;
    font-family: Times, serif;
    font-size: 17px;
}
.person {
    flex: 0 50%;
    text-align: center;

}
/*photo*/
.photo {
    width: 200px;
    background: white;
    padding: 10px;
    opacity: 0.8;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    display: inline-block;
    transform: rotate(-2deg) scale(0.8);
    transition: 0.4s all ease-in-out;
    will-change: transform;
    align-items: flex-start;
    text-align: center;
}
.photo img {
    flex-basis: 100%;
    width: 100%;
}
.photo figcaption {
    margin-top: 15px;
    font-family: Vijaya, serif;
    font-size: 20px;
}
.photo:hover {
    opacity: 1;
    transform: scale(1.0);
}
